<h1>
  {{title}}
</h1>
<p>My Name: {{myName}}</p>
<p id='fname'>{{firstName}}</p>
<input type="text" id='cityInput' [(ngModel)]="city">
<input type="submit" id="showMsgButton" (click)="getMessage(city)">
<p id='lname'>{{lastName}}</p>
<!-- Show is selectedCard is defined. -->
<div *ngIf="message">
  <label id="messageLabel">{{message}}</label>
</div>

<app-subtitle></app-subtitle>
<ul>
    <li *ngFor="let firstname of firstnames">
        {{firstname}}
    </li>
</ul>

<h3>Morning Show</h3>
<ul>
  <li>Johnny</li>
  <li>Holly</li>
  <li>Nira</li>
</ul>


